! font settings --------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt.termName: rxvt-unicode
URxvt.scrollBar: false
URxvt.font: xft:candy:pixelsize=8
URxvt.boldFont: xft:candy:pixelsize=8
URxvt.letterSpace: 0
URxvt.saveLines: 1000000
URxvt.perl-ext-common:          default,clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/x-www-browser
URxvt.matcher.button: 3
URxvt.depth: 32
URxvt.saveLines:16384
URxvt.geometry: 86x25+2620+390


URxvt.background: #111E26
URxvt.foreground: #66767F
URxvt.cursorColor: #66767F
URxvt*cursorUnderline: true
URxvt.colorUL: #2D566E


! black
URxvt*color0  : #273B47
URxvt*color8  : #555753
! red
URxvt*color1  : #CC6666
URxvt*color9  : #EF2929
! green
URxvt*color2  : #507E65
URxvt*color10 : #8AE234
! yellow
URxvt*color3  : #8C7F57
URxvt*color11 : #8C6257
! blue
URxvt*color4  : #345C75
URxvt*color12 : #729FCF
! magenta
URxvt*color5  : #75507B
URxvt*color13 : #AD7FA8
! cyan
URxvt*color6  : #6FB997
URxvt*color14 : #34E2E2
! white
URxvt*color7  : #66767F
URxvt*color15 : #EEEEEC

xterm*loginShell:      true
xterm*vt100*geometry:  80x25
!xterm*renderFont:     true
xterm.vt100.faceName:  Liberation Mono:size=10:antialias=true
xterm.vt100.font:      7x10
!xterm*faceSize:        12
xterm*allowBoldFonts:  true
xterm*dynamicColors:   true
xterm*cursorBlink:     true
xterm*utf8:            1
xterm*termName:        xterm-256color
xterm*saveLines:       4096
xterm*visualBell:      true
xterm*bellIsUrgent:    true
xterm*scrollTtyOutput: false
xterm*scrollKey:       true
xterm*fastScroll:      true
xterm*cutNewline:      true
xterm*highlightSelection: true
xterm*eightBitInput:   false
xterm*backarrowKey:    false
